---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: kubedoom-app
  template:
    metadata:
      labels:
        app: kubedoom-app
    spec:
      hostNetwork: true
      serviceAccountName: kubedoom
      containers:
        - image: storaxdev/kubedoom:0.5.0
          env:
            - name: NAMESPACE
              value: kubedoom
          name: kubedoom
          ports:
            - containerPort: 5900
              name: vnc
              